@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  box-sizing: border-box;
}
.dark-mode {
  background-color: #000957;
  color: #f9f9f9;
}
.header {
  position: sticky;
  z-index: 2147483647;
  top: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-shadow: 0px 0px 0px 0.1px #999;
  background: rgba(255, 255, 255, 0.37);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.dark-mode .nav {
  box-shadow: 0px 0px 0px 0.1px #999;
  background: rgba(36, 0, 155, 0.37);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: none;
}
.logo-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
.logo-text {
  font-size: 1.4rem;
  color: #111;
  border: none;
  outline: none;
}
.dark-mode .logo-text {
  color: #f9f9f9;
}
.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 1rem;
}
.nav-item {
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  transition: 0.5s all ease-in;
  -webkit-transition: 0.5s all ease-in;
  -moz-transition: 0.5s all ease-in;
  -ms-transition: 0.5s all ease-in;
  -o-transition: 0.5s all ease-in;
  background-color: #fff;
  color: #000;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
.nav-item:hover {
  background-color: #000;
  color: #fff;
}
.dark-mode .nav-item {
  background-color: #000;
  color: #fff;
}
.dark-mode .nav-item:hover {
  background-color: #fff;
  color: #000;
}
.nav-item-toggle {
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  transition: 0.5s all ease-in;
  -webkit-transition: 0.5s all ease-in;
  -moz-transition: 0.5s all ease-in;
  -ms-transition: 0.5s all ease-in;
  -o-transition: 0.5s all ease-in;
  background-color: #fff;
  color: #000;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  visibility: hidden;
  display: none;
}
.dark-mode .nav-item-toggle {
  background-color: #000;
  color: #fff;
}
.nav-item-toggle:hover {
  background-color: #fff;
  color: #000;
}
.sidebar {
  position: fixed;
  right: 0;
  width: 350px;
  height: 100%;
  padding: 1rem;
  box-shadow: 0px 0px 0px 0.1px #999;
  background: rgba(255, 255, 255, 0.37);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transform: translateX(110%);
  -webkit-transform: translateX(110%);
  -moz-transform: translateX(110%);
  -ms-transform: translateX(110%);
  -o-transform: translateX(110%);
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
}
.dark-mode .sidebar {
  box-shadow: 0px 0px 0px 0.1px #999;
  background: rgba(36, 0, 155, 0.37);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: none;
  overflow-y: auto;
}
.sidebar.open {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
.side-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
  width: 100%;
  list-style-position: inside;
  overflow-y: auto;
}
.side-item {
  width: 100%;
  padding: 0.8rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  outline: none;
  text-decoration: none;
  color: #000;
  background-color: #cdcdcd3d;
  transition: 0.5s all ease-in;
  -webkit-transition: 0.5s all ease-in;
  -moz-transition: 0.5s all ease-in;
  -ms-transition: 0.5s all ease-in;
  -o-transition: 0.5s all ease-in;
  cursor: pointer;
  border: none;
  overflow-y: auto;
}
.side-item:hover {
  background-color: #000;
  color: #fff;
}
.icon-side {
  font-size: 1.7rem;
}
.dark-mode .side-item {
  background-color: #2300743d;
  color: #f9f9f9;
}
.text-side {
  width: 100%;
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  .nav-item {
    display: none;
  }
  .nav-item-toggle {
    visibility: visible;
    display: block;
  }
  .logo-text {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 425px) {
  .sidebar {
    width: 100%;
  }
  .text-side {
    font-size: 0.8rem;
  }
  .icon-side {
    font-size: 1.4rem;
  }
}
// Home Cards
.home-card-container {
  width: 90%;
  padding: 0.5rem;
  justify-content: center;
  display: flex;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 1rem;
  align-self: center;
  justify-self: center;
  margin: 0.5rem;
}
.config-home {
  background: linear-gradient(45deg, #4100a8, #c1c0c02a);
  overflow: hidden;
}
.dark-mode .config-home {
  background: #000422;
  border: 0.5px solid #005aa9;
}
.home-card {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: start;
  backdrop-filter: blur(16px) saturate(180%);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.85);
  //   border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
.dark-mode .home-card {
  backdrop-filter: blur(16px) saturate(180%);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 5, 108, 0.85);
  //   border-radius: 12px;
  border: 1px solid rgba(0, 102, 255, 0.3);
}
.home-img-contain {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.img-home {
  box-shadow: 0px 0px 5px 4px rgb(0, 0, 0, 0.1);
  width: 150px;
  height: 220px;
}
.home-text-contain {
  width: 100%;
  height: 100%;
}
.heading-config {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.heading-config h3 {
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-save {
  display: inline-flex;
  align-items: baseline;
  vertical-align: baseline;
  font-size: 1.7rem;
  margin: 0.2rem 0.2rem 0 0;
  cursor: pointer;
}
.home-text-contain p {
  font-size: 0.9rem;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0.2rem;
}
.span-p-home {
  font-weight: 500;
}
.btn-home {
  display: flex;
  justify-content: start;
  align-items: center;
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  padding: 6px 16px;
  margin-top: 0.5rem;
  background-color: #bdbdbd7f;
  color: #000;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-size: 1rem;
  transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
}
.btn-home:hover {
  background-color: #000;
  color: #fff;
}
.dark-mode .btn-home {
  background-color: #000957;
  color: #f9f9f9;
}
@media only screen and (max-width: 1249px) {
  .home-card-container {
    width: 100%;
  }
}
@media only screen and (max-width: 1133px) {
  .home-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 0.5rem;
  }
}
@media only screen and (max-width: 740px) {
  .home-card {
    flex-direction: column;
  }
  .home-img-contain {
    padding: 0.3rem;
    margin-bottom: 0.5rem;
    background-color: #fff;
  }
  .dark-mode .home-img-contain {
    background-color: #423b8f;
  }
  .img-home {
    width: 75px;
    height: 110px;
  }
  .heading-config h3 {
    font-size: 0.8rem;
  }
  .icon-save {
    font-size: 1rem;
  }
  .home-text-contain p {
    font-size: 0.7rem;
  }
  .btn-home {
    padding: 5px;
    font-size: 0.7rem;
  }
}
.bd-container {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
  justify-self: center;
  align-self: center;
  margin: 1rem;
}
.bd-img-contain {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
}
.bd-text-contain {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}
.img-bd {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 280px;
  height: 400px;
  box-shadow: 0px 0px 5px 4px rgb(0, 0, 0, 0.1);
}
.bd-text-contain h1 {
  font-size: 1.2rem;
  font-weight: 700;
}
.bd-text-contain p strong {
  font-size: 1rem;
  font-weight: 500;
}
.bd-text-contain p {
  font-weight: 400;
  font-size: 0.9rem;
}
.sub-bd-contain strong {
  font-size: 1rem;
  font-weight: 500;
}
.sub-bd-contain span {
  font-size: 0.9rem;
  padding: 0.3rem;
  display: inline-block;
  margin: 0.2rem;
  border-radius: 3px;
  background-color: #dbdbdb91;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.dark-mode .sub-bd-contain span {
  background-color: #10076e;
}
.bd-link {
  font-size: 1.1rem;
  text-decoration: none;
  padding: 8px 16px;
  color: #fff;
  background-color: #000;
  transition: 0.5s all ease-in;
  -webkit-transition: 0.5s all ease-in;
  -moz-transition: 0.5s all ease-in;
  -ms-transition: 0.5s all ease-in;
  -o-transition: 0.5s all ease-in;
}
.bd-link:hover {
  background-color: #333;
}
@media only screen and (max-width: 768px) {
  .bd-container {
    flex-direction: column;
    margin: 1rem;
  }
  .bd-img-contain {
    width: 90%;
    background-color: #00366482;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    padding: 1rem;
  }
  .bd-text-contain {
    width: 100%;
  }
  .img-bd {
    width: 150px;
    height: 220px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin: auto;
  }
  .bd-text-contain h1 {
    font-size: 0.9rem;
  }
  .bd-text-contain p strong {
    font-size: 0.8rem;
    font-weight: 700;
  }
  .bd-text-contain p {
    font-size: 0.8rem;
  }
  .sub-bd-contain strong {
    font-size: 0.8rem;
    font-weight: 700;
  }
  .sub-bd-contain span {
    font-size: 0.7rem;
  }
  .bd-link {
    font-size: 0.7rem;
  }
}
// Search
.search-box-contain {
  display: flex;
  justify-content: center;
  align-self: center;
  justify-self: center;
  align-self: center;
  padding: 2rem 1rem;
  width: 100%;
  flex-direction: column;
  gap: 0.3rem;
  background-color: #dbdbdb66;
}
.dark-mode .search-box-contain {
  background-color: #151e6d;
}
.input-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 3px solid #0088ff;
  padding: 10px 16px;
  width: 300px;
  font-size: 1rem;
  border-radius: 5px;
  text-transform: capitalize;
  background-color: #e6e5e584;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  outline: none;
}
.dark-mode .input-search {
  border: 3px solid #0095ff;
  color: #000;
  background-color: #fff;
}
.heading-search {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}
// Categories
.dropdownbtn {
  padding: 2rem;
  background-color: #e6e5e584;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
}
.dark-mode .dropdownbtn {
  background-color: #151e6d;
}
.heading-select {
  text-transform: capitalize;
  font-size: 1.1rem;
}
.dropdownbtn select {
  cursor: pointer;
}
.dark-mode .dropdownbtn {
  color: white;
}

.dark-mode .react-select__control {
  background-color: #001eff !important;
  border-color: #555 !important;
  color: white !important;
}

.dark-mode .react-select__menu {
  background-color: #4b93c6 !important;
}

.dark-mode .react-select__option {
  color: white !important;
}

.dark-mode .react-select__option--is-selected {
  background-color: #555 !important;
}

.dark-mode .react-select__option--is-focused {
  background-color: #444 !important;
}

@media only screen and (max-width: 425px) {
  .heading-select {
    font-size: 1rem;
  }
}
// Setting
#dialog-box-overlay {
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark-mode .dialog-box {
  background: rgba(15, 23, 137, 0.507);
  border-radius: 16px;
  box-shadow: 0 2px 5px rgba(29, 2, 185, 0.416);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(5.1px);
}
.dialog-box {
  width: 800px;
  height: 400px;
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.832);
  border-radius: 5px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 1rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.content-dialog {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
}
.setting-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 1rem;
}
.setting-left-align {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  width: 80%;
}
.right-setting-align {
  display: flex;
  justify-content: end;
  align-items: end;
}
.setting-left-align i {
  font-size: 1.7rem;
  color: #0088ff;
}
.text-setting {
  font-size: 1.1rem;
  font-weight: 500;
}
.heading-dialog {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.setting-btn {
  border: none;
  font-size: 0.9rem;
  padding: 5px 10px;
  outline: none;
  color: #fff;
  background-color: red;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s all ease-in;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: 0.5s all ease-in;
  -moz-transition: 0.5s all ease-in;
  -ms-transition: 0.5s all ease-in;
  -o-transition: 0.5s all ease-in;
}
.setting-btn:hover {
  background-color: rgb(98, 0, 0);
}
@media only screen and (max-width: 862px) {
  .setting-row {
    width: 100%;
  }
  .dialog-box {
    width: 400px;
  }
}
@media only screen and (max-width: 768px) {
  .dialog-box {
    width: 100%;
    height: fit-content;
    margin: 2rem;
    padding: 1.5rem;
  }
  .heading-dialog {
    padding: 0.5rem;
    font-size: 0.9rem;
  }
  .text-setting {
    font-size: 0.7rem;
  }
}
#Confirm-Box-Overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 501;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.confirm-box {
  width: 450px;
  height: 200px;
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.832);
  border-radius: 5px;
  border: 1px solid rgba(209, 213, 219, 0.567);
  padding: 1rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  -o-border-radius: 5px;
  flex-direction: column;
  gap: 0.5rem;
}
.dark-mode .confirm-box {
  background: rgba(15, 23, 137, 0.507);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(29, 2, 185, 0.416);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(0, 72, 255, 0.3);
}
.heading-confirm {
  display: flex;
  font-weight: 500;
  font-size: 1.1rem;
}
.btn-contain-confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.btn-confirm {
  border: none;
  text-transform: capitalize;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 1rem;
}
.b-1 {
  background-color: red;
  color: #fff;
  border-radius: 5px;
  transition: 0.5s all ease-in;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: 0.5s all ease-in;
  -moz-transition: 0.5s all ease-in;
  -ms-transition: 0.5s all ease-in;
  -o-transition: 0.5s all ease-in;
  cursor: pointer;
}
.b-1:hover {
  background-color: rgb(246, 79, 79);
}
.b-2 {
  background-color: green;
  color: #fff;
  border-radius: 5px;
  transition: 0.5s all ease-in;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: 0.5s all ease-in;
  -moz-transition: 0.5s all ease-in;
  -ms-transition: 0.5s all ease-in;
  -o-transition: 0.5s all ease-in;
  cursor: pointer;
}
.b-2:hover {
  background-color: rgb(67, 182, 67);
}
// scanner
.b-c-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 60vh;
  background-color: rgb(0, 100, 0);
}
.b-c-heading-config {
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
.heading-inp-b-c {
  font-size: 1.7rem;
  font-weight: 600;
  color: #fff;
}
.medil-heading-b-c {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  opacity: 0.8;
}

.input-contain-b-c {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  margin: auto;
}
.inp-b-c {
  border: none;
  background-color: #fff;
  outline: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.b-c-btn {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: rgb(0, 100, 0);
  color: #fff;
  cursor: pointer;
  transition: 0.3s all ease-in;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -ms-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
}
.b-c-btn:hover {
  background-color: #fff;
  color: #333;
}
.b-c-card-container {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  width: 80%;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 0.5rem;
}
.isbn-book-container {
  padding: 1rem;
  background-color: #e3e3e377;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.dark-mode .isbn-book-container {
  background-color: #151e6d;
  border: 0.5px solid #001eff;
}
.contain-b-c {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0;
  padding: 0;
}
.heading-b-c {
  font-size: 1.1rem;
  font-weight: 500;
}
.isbn-book-author {
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0.3rem;
  padding: 0.3rem;
}
.isbn-book-remove-btn {
  border: none;
  font-size: 1.7rem;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}
.dark-mode .isbn-book-remove-btn {
  color: #f9f9f9;
}
.isbn-book-btn {
  border: none;
  font-size: 0.9rem;
  padding: 6px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  font-weight: 500;
  background-color: rgb(0, 121, 0);
  color: #fff;
  margin-top: 0.3rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.3s all ease-in;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -ms-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
}
.isbn-book-btn:hover {
  background-color: rgb(0, 61, 0);
  cursor: pointer;
}
.b-c-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.b-c-c-box {
  width: 450px;
  height: 200px;
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.832);
  border-radius: 5px;
  border: 1px solid rgba(209, 213, 219, 0.567);
  padding: 1rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  -o-border-radius: 5px;
  flex-direction: column;
  gap: 0.5rem;
}
.dark-mode .b-c-c-box {
  background: rgba(15, 23, 137, 0.507);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(29, 2, 185, 0.416);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(0, 72, 255, 0.3);
}
// full media Quieries
@media only screen and (max-width: 559px) {
  .b-c-container{
    height: 40vh;
  }
  .confirm-box {
    width: 100%;
    height: fit-content;
    padding: 2rem 1rem;
    margin: 2rem;
  }
  .b-c-c-box {
    width: 100%;
    height: fit-content;
    padding: 2rem 1rem;
    margin: 2rem;
  }
  .heading-confirm {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .btn-confirm {
    font-size: 0.7rem;
    padding: 5px 10px;
  }
}
@media only screen and (max-width: 631px) {
  .b-c-card-container {
    width: 100%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .isbn-book-container {
    padding: 0.5rem;
  }
  .heading-b-c {
    font-size: 0.9rem;
  }
  .isbn-book-author {
    font-size: 0.7rem;
  }
  .isbn-book-btn {
    font-size: 0.7rem;
    padding: 5px 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }
  .isbn-book-remove-btn {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 425px) {
  .heading-inp-b-c {
    font-size: 1rem;
  }
  .medil-heading-b-c {
    font-size: 0.8rem;
  }
  .inp-b-c {
    font-size: 0.7rem;
  }
  .b-c-btn {
    font-size: 0.7rem;
  }
}
// About
// Welcome
.ab-container {
  width: 100%;
  height: 100vh;
}
.heading-ab {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 600;
  background: linear-gradient(90deg, #bf00ff, #000);
  -webkit-background-clip: text;
  color: transparent;
  margin: 2rem 0;
}
.img-w-ab {
  width: 350px;
  display: flex;
  justify-content: center;
  margin: auto;
  height: 400px;
}
.text-ab-w {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  justify-self: center;
  align-self: center;
  font-size: 0.8rem;
}
.about-container {
  display: flex;
  justify-content: start;
  align-items: start;
}
.ab-sidebar-container {
  width: 300px;
  height: 100vh;
  position: fixed;
  z-index: 1200;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.dark-mode .ab-sidebar-container{
  background-color: #10076e;
}
.ab-sidebar-upper-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #0088ff;
}
.ab-sidebar-toggle {
  display: none;
}
.heading-ab-sidebar {
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
}
.ab-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  list-style: none;
  gap: 1rem;
  padding: 0.5rem;
}
.ab-list {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  padding: 1rem;
  text-transform: capitalize;
  border-radius: 9px;
  font-weight: 500;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}
.ab-list.active {
  background-color: #0088ff;
  color: #fff;
}
.ab-contents {
  width: 100%;
  flex-direction: column;
  margin: auto auto auto 19rem;
}
// What we used
.what-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  height: 100vh;
}
.heading-what {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 600;
}
.img-what {
  width: 300px;
  height: 350px;
}
.text-what {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: center;
  font-size: 0.8rem;
}
.feature-container {
  padding: 1rem;
}
.heading-fea {
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
}
.heading-f-base {
  text-align: center;
  font-size: 1.5rem;
  opacity: 0.8;
}
.icon-packs-contain-f {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  align-items: center;
  gap: 1rem;
}
.icon-pack-f {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 200px;
  background-color: #0088ff;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  -o-border-radius: 10px;
}
.icon-pack-f i {
  font-size: 3rem;
  color: #fff;
}
.icon-pack-text-f {
  font-size: 0.8rem;
}
.f-list {
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  gap: 1rem;
  padding: 1rem;
}
.item-f {
  width: 300px;
  padding: 1rem;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.heading-f-content {
  font-size: 1rem;
  font-weight: 600;
}
.text-f-content {
  font-size: 0.8rem;
  opacity: 0.8;
}
.mission-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.img-mission {
  width: 320px;
  height: 350px;
}
.heading-mission {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}
.text-mn {
  width: 80%;
  font-size: 0.8rem;
}
.dev-container {
  padding: 1rem;
}
.heading-dev {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}
.heading-dev-s {
  text-align: center;
  font-size: 1.2rem;
  opacity: 0.8;
  text-transform: capitalize;
}
.dev-s-contain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.dev-s-card {
  padding: 1rem;
  width: 200px;
  height: 200px;
  color: #fff;
  display: flex;
  background-color: #0088ff;
  border-radius: 010px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-border-radius: 010px;
  -moz-border-radius: 010px;
  -ms-border-radius: 010px;
  -o-border-radius: 010px;
}
.dev-s-card i {
  font-size: 3rem;
}
.text-dev-s-card {
  font-size: 0.8rem;
}
.dese-dev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  font-size: 1rem;
  padding: 1rem;
}
.dev-content {
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  padding: 1rem;
}
.dev-item {
  padding: 1rem;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.heading-dev-item {
  font-weight: 500;
  font-size: 1rem;
}
.text-dev-item {
  font-size: 0.8rem;
  opacity: 0.8;
  width: 300px;
}
.heading-end {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.end-point-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
.pre-endpoints {
  padding: 1rem;
  color: #fff;
  background-color: #000;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.heading-pre {
  font-size: 1rem;
  font-weight: 500;
}
.code-endpoints {
  font-size: 0.7rem;
  opacity: 0.7;
}
.touch-container{
  padding: 1rem;
}
.img-touch{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.heading-touch{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}
.dese-touch{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  font-size: 0.8rem;
}
.touch-items{
  padding: 8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1rem;
  background-color: #dfdfdf6c;
}
.links-touch{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}
.links-touch i{
  font-size: 2rem;
  color: #000;
}
.touch-span{
  font-size: 0.7rem;
  color: #000;
}
@media only screen and (max-width: 768px) {
  .ab-container {
    flex-direction: column;
  }
  .ab-sidebar-toggle {
    display: inline-block;
    cursor: pointer;
    font-size: 1.7rem;
    color: #fff;
  }
  .ab-sidebar-container {
    width: 100%;
    height: fit-content;
  }
  .ab-sidebar-upper-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .ab-sidebar {
    position: fixed;
    width: 100%;
    height: 100%;
    transform: translateY(-110%);
    -webkit-transform: translateY(-110%);
    -moz-transform: translateY(-110%);
    -ms-transform: translateY(-110%);
    -o-transform: translateY(-110%);
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    box-shadow: 0px 0px 0px 0.1px #999;
    background: rgba(255, 255, 255, 0.37);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .ab-sidebar.open {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  .ab-container {
    height: fit-content;
  }
  .heading-ab {
    font-size: 1rem;
    text-align: center;
  }
  .ab-contents {
    margin: 0;
  }
  .img-w-ab {
    width: 180px;
    height: 200px;
  }

  .text-ab-w {
    width: fit-content;
    margin: 2rem;
  }
  .what-container{
    height: fit-content;
    padding: 0;
  }
  .heading-what{
    font-size: 1rem;
  }
  .img-what{
    width: 170px;
    height: 170px;
  }
  .text-what{
    width: fit-content;
    margin: 0 1rem 0 1rem;
  }
  .feature-container{
    padding: 0;
  }
  .heading-fea{
    font-size: 1rem;
    margin-top: 3rem;
  }
  .heading-f-base{
    font-size: 0.8rem;
  }
  .icon-packs-contain-f{
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }
  .icon-pack-f{
    width: 50px;
    height: 50px;
  }
  .icon-pack-f i{
    font-size: 1.5rem;
  }
  .icon-pack-text-f{
    display: none;
  }
  .f-list{
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
  }
  .item-f{
    width: 100%;
  }
  .heading-f-content{
    font-size: 0.8rem;
  }
  .text-f-content{
    font-size: 0.7rem;
  }
  .mission-container{
    width: fit-content;
    height: fit-content;
  }
  .heading-mission{
    font-size: 1rem;
    margin-top: 3rem;
  }
  .img-mission{
    width: 180px;
    height: 200px;
  }
  .dev-container{
    padding: 0;
  }
  .heading-dev{
    font-size: 1rem;
    margin-top: 3rem;
  }
  .heading-dev-s{
    font-size: 0.8rem;
  }
  .dev-s-contain{
    justify-content: center;
    padding: 0;
  }
  .dev-s-card{
    width: 50px;
    height: 50px;
  }
  .dev-s-card i{
    font-size: 1.7rem;
  }
  .text-dev-s-card{
    display: none;
  }
  .dev-content{
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .dev-item{
    width: 100%;
    height: fit-content;
    padding: 1rem;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
  .dese-dev{
    width: fit-content;
    font-size: 0.8rem;
  }
  .heading-dev-item{
    font-size: 0.8rem;
  }
  .text-dev-item{
    font-size: 0.7rem;
    text-wrap: wrap;
  }
  .heading-end{
    font-size: 1rem;
  }
  .end-point-contain{
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
  }
  .heading-pre{
    font-size: 0.7rem;
  }
  .code-endpoints{
    font-size: 0.6rem;
  }
  .heading-touch{
    font-size: 1rem;
  }
  .ab-container{
    margin-top: 2rem;
  }
  .img-touch{
    width: 150px;
    height: 150px;
  }
  .dese-touch{
    font-size: 0.7rem;
    width: 100%;
  }
  .touch-items{
    gap: 0.5rem;
  }
  .links-touch i{
    font-size: 2rem;
  }
  .touch-span{
    font-size: 0.5rem;
  }
}
@media only screen and (max-width: 425px) {
  .ab-sidebar{
    height: 60%;
    transform: translateY(-120%);
    -webkit-transform: translateY(-120%);
    -moz-transform: translateY(-120%);
    -ms-transform: translateY(-120%);
    -o-transform: translateY(-120%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
}
  .ab-sidebar-upper-contain{
    gap: 0rem;
    overflow: hidden;
  }
  .ab-list{
    padding: 0.7rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 0.8rem;
}
}
.fav-container{
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
  flex-direction: column;
}
.img-fav{
  width: 300px;
  height: 300px;
}
.heading-fav{
  font-size: 1.5rem;
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  .fav-container{
    height: 50vh;
  }
  .img-fav{
    width: 150px;
    height: 150px;

  }
  .heading-fav{
    font-size: 0.7rem;
  }
  
}
.is-contents{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.is-text-contain{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.heading-is{
  font-size: 2rem;
  font-weight: 500;
}

.is-list{
  list-style-position: inside;
  gap: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  font-weight: 500;
  opacity: 0.8;
}
.is-items{
}
.is-num{
  color: rgb(236, 45, 45);
}
.is-img-contain{
  display: flex;
  justify-content: center;
  align-items: center;
}
.is-img{
  width: 500px;
}
@media only screen and (max-width: 768px) {
  .is-contents{
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
  }
  .heading-is{
    font-size: 1rem;
    text-align: center;
  }
  .is-text-contain{
    align-items: center;
  }
  .is-list{
    font-size: 0.7rem;
    
  }
  .is-img{
    width: 90%;
  }
}
.bn-faq{
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 2rem;
  flex-direction: column;
}
.heading-bn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 2.5rem;
}
.question-bn{
  font-size: 1.1rem;
  font-weight: 600;
}
.answer-bn{
  width: 50%;
  padding: 1rem;
  opacity: 0.7;
}
.qbn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.2px solid #999;
  margin: 1rem;
  padding: 5rem;
}
.qbn-contain{
  color: gray;
  font-size: 1.2rem;
  list-style: none;
  text-decoration: none;
}
.isbn-full-form{
  cursor: zoom-in;
}
@media only screen and (max-width: 768px) {
  .heading-bn{
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  .question-bn{
    font-size: 0.9rem;
  }
  .answer-bn{
    font-size: 0.7rem;
    width: 100%;
    padding: 0.5rem;
  }
  .qbn-container{
    padding: 1rem;
  }
  .qbn-contain{
    font-size: 0.7rem;
  }
  
}
.form-container{
  width: 100%;
  height: 80vh;
  background-image: url('./../assets/images/nature-scene-rural-land-agriculture-grassland-abtract-silhouette-asian-farmers-working-rice-field-illustration.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.overlay-form{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1); /* Semi-transparent black */
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.form-contain{
  display: flex;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 1rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  width: 800px;
  height: 300px;
  -o-border-radius: 5px;
}
.dark-mode .form-contain{
  background-color: #10076e;
}
.align-form-right-contain{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-form{
  width: 300px;
  height: 300px;
}
.align-form-left-contain{
  display: flex;
  justify-content: start;
  align-items: start;
  width: 50%;
  height: 100%;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.2rem;
}
.form-name-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.form-name-content input{
  background-color: #0088ff;
  color: #fff;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 0.8rem;
}
.form-name-content input::placeholder{
  color: #fff;
}
.input-num{
  background-color: #0088ff;
  color: #fff;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 0.8rem;
  margin: 0.2rem 0;
}
.input-num::placeholder{
  color: #fff;
}
.form-email-input-contain{
  margin: 0.2rem 0 0 0;
}
.email-inp-form{
  background-color: #0088ff;
  padding: 0.5rem;
  color-scheme: #fff;
  border: none;
  outline: none;
}
.email-inp-form::placeholder{
  color: #fff;
}
.validate-btn{
  background-color: #0088ff;
  border: none;
  outline: none;
  padding: 0.5rem;
  color: #fff;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
}
.validate-btn:hover{
  background-color: #6583b6;
}
.success-msg, .error-msg{
  font-size: 0.7rem;
}
.textarea{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.2rem;
  border: none;
  background-color: #e9e9e9;
  flex-direction: column;
  padding: 0.5rem;
  overflow: auto;
  resize: none;
  margin: 0.2rem 0;
  font-size: 0.8rem;
}
.btn-submit{
  background-color: #0088ff;
  color: #f9f9f9;
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 2px;
  transition: 0.3s all ease-in-out;
  font-size: 0.8rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
}
.btn-submit:hover{
  background-color: #2b9cff;
  cursor: pointer;
}
@media only screen and (max-width: 822px) {
  .form-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    height: fit-content;
    width: fit-content;
    grid-template-columns: repeat(1, 1fr);
  }
  .align-form-left-contain, .align-form-right-contain{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-form{
    width: 200px;
    height: 200px;
  }
  .form-name-content{
    display: flex;
    justify-content: start;
    align-items: start;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  
}
.pft-container{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.btn-scroll-pft{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: #0088ff;
  color: #fff;
  padding: 1rem;
  margin: 0.5rem ;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
}
.btn-scroll-pft:hover{
  background-color: #2599ff;
}
.pft-contain-all{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  gap: 1rem;
}
.pft-contain-one{
  padding: 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.heading-pft-one{
  font-size: 1.2rem;
  font-weight: 600;
}
.pft-list-o{
  list-style-position: inside;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;
}
.pft-items-o{
  font-size: 1rem;
  opacity: 0.8;
}
.pft-contain-two{
  flex-direction: column;
  display: flex;
  justify-content: start;
  align-items: start;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
.heading-pft-t{
  font-size: 2rem;
}
.pft-q-contain{
  margin: 0.5rem 0;
}
.heading-q-pft{
  font-size: 1.1rem;
  font-weight: 500;
}
.text-p-t{
  font-size: 1rem;
  opacity: 0.7;
}
.pft-contain-three{
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
.pft-heading-three{
  font-size: 2rem;
}
.q-pft-three{
  display: flex;
  justify-content: start;
  font-size: 1.1rem;
  font-weight: 500;
  opacity: 0.8;
  align-items: start;
}
.ans-q-pft{
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
  opacity: 0.7;
}
.link-gmail{
  text-decoration: none;
  border: none;
  outline: none;
}
.link-social-f{
  font-size: 1.7rem;
  color: #fff;
  background-color: #0088ff;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  border: none;
  outline: none;
  -o-transition: 0.5s all ease-in-out;
}
.link-social-f:hover{
  background-color: #3ba4ff;
}
@media only screen and (max-width: 768px) {
  .pft-contain-all{
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
  }
  .btn-scroll-pft{
    font-size: 1.7rem;
    padding: 0.5rem;
  }
  .pft-contain-one{
    padding: 0.5rem;
  }
  .heading-pft-one{
    font-size: 1rem;
  }
  .pft-items-o{
    font-size: 0.7rem;
  }
  .pft-contain-two{
    padding: 0.5rem;
  }
  .heading-pft-t{
    font-size: 1rem;
  }
  .heading-q-pft{
    font-size: 0.8rem;
  }
  .text-p-t{
    font-size: 0.7rem;
  }
  .pft-contain-three{
    padding: 0.5rem;
  }
  .q-pft-three{
    font-size: 0.8rem;
  }
  .pft-heading-three{
    font-size: 1rem;
  }
  .ans-q-pft{
    font-size: 0.8rem;
  }
  .link-social-f{
    font-size: 1.3rem;
  }
}
.thank-you{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.thank-you img{
  width: 300px;
  height: 200px;
}
.thank-you h2{
  font-size: 1.2rem;
}
.thank-you p{
  font-size: 1rem;
  opacity: 0.7;
}
@media only screen and (max-width: 768px) {
  .thank-you img{
    width: 250px;
    height: 100;
  }
  .thank-you p{
    font-size: 0.8rem;
    padding: 0 2rem;
    text-align: center;
  }
  .thank-you h2{
    font-size: 1rem;
  }
}